body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 95%);
}
.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 4rem 0;
  border-radius: 0.5rem;
  overflow: hidden;
  font-size: 0.9375rem;
  font-family: 'Lexend Deca', sans-serif;
}
.card div {
  padding: 3rem;
}
.card div img {
  width: 3rem;
  height: 2rem;
}
.card div h1 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
}
.card div button {
  border: none;
  border-radius: 1.625rem;
  padding: 1rem;
  background-color: hsl(0, 0%, 95%);
  width: 8rem;
  margin-top: 0.75rem;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
}
.sedans button {
  color: hsl(31, 77%, 52%);
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.suvs button {
  color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
}
.luxury button {
  color: hsl(179, 100%, 13%);
}
.attribution {
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
