html, body {
    height: 100%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    display: grid;
    grid-template-rows: 1fr min-content;
    height: 100%;
    justify-content: center;
}

/* Card */
.card {
    width: 20rem;
    height: 30rem;
    border-radius: 0.25rem;
    text-align: center;
    position: relative;
    background-color: white;
}
.card-pattern {
    width: 100%;
}
.card-details {
    display: flex;
    flex-direction: column;
}
.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.card h1, .stats, .city {
    font-size: 1.125rem;
    text-transform: capitalize;
    color: hsl(229, 23%, 23%);
}
.age, .city, .stats-details {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}
.stats-section {
    display: flex;
    justify-content: space-between;
    border-top: 0.0625rem hsl(0, 0%, 59%) solid;
    padding: 1rem;
}
.stats-section > p {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.stats-details {
    font-size: 0.625rem;
}

/* Footer */
.attribution { 
    font-size: 11px;
    text-align: center;
    padding: 1rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
