html, body {
    height: 100%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    display: grid;
    grid-template-rows: 1fr min-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.background-pattern-top {
    position: absolute;
    bottom: 65%;
    right: 40%;
    width: 700px;
    height: 700px
}
.background-pattern-bottom {
    position: absolute;
    width: 700px;
    height: 700px;
    top: 55%;
    left: 40%;
}

/* Card */
.card {
    width: 20rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-pattern {
    width: 100%;
}
.card-details {
    margin-top: -14%;
}
.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid white;
}
.card h1, .stats, .city {
    font-size: 1.125rem;
    text-transform: capitalize;
    color: hsl(229, 23%, 23%);
}

.card h1 {
    margin: 1rem 0 0.325rem 0;
}
.card p {
    margin: 0;
}

.age, .city, .stats-details {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}
.stats-section {
    display: flex;
    justify-content: space-between;
    border-top: 0.0625rem hsl(0, 0%, 59%) solid;
    padding: 1rem;
}
.stats-section > p {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.stats-details {
    font-size: 0.625rem;
}

/* Footer */
.attribution { 
    font-size: 11px;
    text-align: center;
    padding: 1rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
