body {
  background-image: url("./images/pattern-hills.svg"),  url("./images/bg-stars.svg");
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  background-color: hsl(234, 17%, 12%);
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr min-content;
  align-items: center;
}

/* Header */
.header {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

/* Timer */
.timer {
  display: flex;
}
.timer-card {
  width: 3rem;
  height: 3rem;
}
.timer-card-text {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 3rem;
  color: hsl(345, 95%, 68%);
}
.card-description {
  font-size: 0.875rem;
  color: hsl(237, 18%, 59%);
  text-transform: uppercase;
}

/* Mountain image + social button styling */
.button-group {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  position: absolute;
  bottom: 10%;
}
.social-button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.social-button, .social-button > img {
  height: 1.875rem;
  width: 1.875rem;
}

/* ------------ Footer ------------ */
footer {
  width: 100%;
  position: absolute;
  bottom: 5%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(237, 18%, 59%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
