html, body {
  height: 100%;
}

body {
  background-image: url("./images/pattern-hills.svg"),  url("./images/bg-stars.svg");
  background-position: center bottom, center top;
  background-repeat: no-repeat;
  background-color: hsl(234, 17%, 12%);
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 3fr min-content;
  justify-content: center;
}

/* Header */
.header {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
  margin: 0 1rem;
  align-self: end;
}

/* Timer */
.timer {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding: 3.5rem 0;
}
.timer-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-number {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(345, 95%, 68%);
  background-color: hsl(237, 18%, 59%);
  margin-bottom: 0.875rem;
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
}
.upper-card, .lower-card {
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  border-radius: 0.25rem;
}
.number {
  position: absolute;
  padding: 1rem;
  display: block;
}
.lower-card {
  bottom: 0%;
  background-color: hsl(236, 21%, 26%);
}
.card-description {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  color: hsl(237, 18%, 59%);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

/* Mountain image + social button styling */
.button-group {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  position: absolute;
  bottom: 6%;
}
.social-button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.social-button, .social-button > img {
  height: 1.875rem;
  width: 1.875rem;
}

/* ------------ Footer ------------ */
footer {
  width: 100%;
  padding: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(237, 18%, 59%);
}
.attribution a {
  color: hsl(345, 95%, 68%, 0.75);
}
